

// Header styling for all the classes
.fullwidth-startpage, .fullwidth-startpage-about-streaming, .fullwidth-streaming, .fullwidth-about, .fullwidth-hbonordic, .fullwidth-cmore, .fullwidth-netflix, .fullwidth-viaplay {
	h1 {
		color: white;
		text-shadow: 5px 5px 10px lighten(black, 10%);
    letter-spacing: 0.3em;
    font-size: $font-size-imgfullscreen-h1;
  }
  h2 {
    text-shadow: 5px 5px 10px black;
		color: white;
		letter-spacing: 0.1em;
		font-size: $font-size-imgfullscreen-h2;
  }
}

// Styling for full width image on startpage
.fullwidth-startpage {
	@include fullscreen-img('tv3.jpg', 90vh);
}

// Styling for full width image on startpage
.fullwidth-startpage-about-streaming {
	@include fullscreen-img('sofa.jpg', 90vh);
}

// Styling for full width image on streaming.php
.fullwidth-streaming {
	@include fullscreen-img('tv2.jpg', 90vh);

}

// Styling for full width image on about.php
.fullwidth-about {
	@include fullscreen-img('about.jpg', 90vh);
}

// Styling for will width image on netflix.php
.fullwidth-netflix {
	@include fullscreen-img('netflix.jpg', 90vh);
}

// Styling for full width image on viaplay.php
.fullwidth-viaplay {
	@include fullscreen-img('viaplay.jpg', 90vh);
}

// Styling for full width image on hbonordic.php
.fullwidth-hbonordic {
	@include fullscreen-img('hbonordic-crop.jpg', 90vh);
}

// Styling for full width image on cmore.php
.fullwidth-cmore {
	@include fullscreen-img('cmore.png', 90vh);
}
