// Responsive styling


@media screen and (max-width: $responsive-large) {


  .mini-element-4col {
    width: 45.2%;
  }

  .mini-element-2col {
    width: 45%;
  }

  .article-aside {
  }

  body, html { overflow-x:hidden; }
}

@media screen and (max-width: $responsive-medium) {

  .mini-element-4col {
    width: 95%;

  }

  .mini-element-2col {
    width: 95%;
  }

  .nonfullscreen-div {
    @include nonfullscreen-div(95%);
  }

  #questionmark, #answer {
    width: 30%;
    display: none;
  }

  .marketing-paragraph {
    font-size: 1em;
  }

  .marketing-title {
    font-size: 1em;
  }

  .fullwidth-startpage, .fullwidth-startpage-about-streaming, .fullwidth-streaming, .fullwidth-about {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }

  .article-aside {
    width: 40%;
    margin-right: 0px;
    margin-left: 4%;

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
    }
  }




}

@media screen and (max-width: $responsive-extra-medium) {

  body {
    -webkit-overflow-scrolling: touch;
  }

  .article-aside {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;

  }

  .article-content {
    width: 93%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .article-content-fullscreen {
    padding: 0px;
  }

  .list-col {
    margin-left: 2%;
    padding-bottom: 5%;
    width: 95%;
  }


}

@media screen and (max-width: $responsive-small) {

  p {
    font-size: 1em;
  }

  .header-bigger {
    font-size: 1.6em;
  }

  .fullwidth-startpage, .fullwidth-startpage-about-streaming, .fullwidth-streaming, .fullwidth-about, .fullwidth-hbonordic, .fullwidth-cmore, .fullwidth-netflix, .fullwidth-viaplay {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1em;
    }
  }

  .fullwidth-startpage {
  	@include fullscreen-img('tv3.jpg', 80vh);
  }

  // Styling for full width image on startpage
  .fullwidth-startpage-about-streaming {
  	@include fullscreen-img('sofa.jpg', 80vh);
  }

  // Styling for full width image on streaming.php
  .fullwidth-streaming {
  	@include fullscreen-img('tv2.jpg', 80vh);

  }

  // Styling for full width image on about.php
  .fullwidth-about {
  	@include fullscreen-img('about.jpg', 80vh);
  }

  .button-big {
    font-size: 1em;
    padding: 4px 6px;
  }

  .mini-element-2col {
    width: 90%;
  }

  .space-above {
    padding-top: 15px;
  }

  .space-below {
    padding-bottom: 15px;
  }

  .article-aside {
    padding: 2px;
    margin-right: 0px;
    margin-top: 1px;

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
    }
  }
  .link {
    padding: 0px;
  }

  .list-col {
    @include list-column(1, 2px);
    font-size: 1em;
    text-align: center;

  }

  .header-big {
    font-size: 1.3em;
  }

  .nav-link {
    font-size: 0.8em;
    margin-left: 1%;
    margin-right: 1%;
  }


  .open-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .open-links {
    display: none;
    margin-top: 1%;
    padding: 2%;
  }

  .toggleNav {
    display: inline-block;
  }

  .nav-link {
    font-size: 1em;
  }

  .brandname {
    display: none;
  }




}

@media screen and (max-width: $responsive-extra-small) {

  .fullwidth-startpage, .fullwidth-startpage-about-streaming, .fullwidth-streaming, .fullwidth-about {
    h1 {
      font-size: 2em;
      letter-spacing: 0em;
    }

    h2 {
      font-size: 1em;
      letter-spacing: 0em;
    }
  }



}
