// Color
$primary-color: #4ECF5D;
$primary-color-darken: darken($primary-color, 20%);
$font-color: black;
$navbar-color: #eee;
$footer-color: $navbar-color;
$body-background-color: lighten(#EDEDED, 10%);

// Div wrapper width
$div-wrapper-width: 960px;

// Button variables
$button-text-color: darken($primary-color, 10%); // Detta är själva "huvud-färgen"
$button-background-color: $button-text-color;

// Space variables
$space-above: 70px;
$space-below: 70px;

// non-specific font sizes
$font-big: 1.2em;
$font-bigger: 1.4em;
$font-biggest: 1.6em;

// Font sizes for headings in the fullscreen images
$font-size-imgfullscreen-h1: 4.5em;
$font-size-imgfullscreen-h2: 2.2em;

// Font sizes for making headers bigger
$header-size-big: 2em;
$header-size-bigger: 2.4em;
$header-size-biggest: 2.6em;

// Responsive pixel variables
$responsive-large: 1230px;
$responsive-medium: 1045px;
$responsive-extra-medium: 750px;
$responsive-small: 600px;
$responsive-extra-small: 415px;
