// Import other scss
@import 'variables';
@import 'mixins';

// Styling for full width image on startpage
.fullwidth-startpage {
	@include fullscreen-img('tv3.jpg', 100vh);

  h1 {
  	text-align: center;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 0.3em;
    font-size: $font-size-imgfullscreen-h1;
  }
  h2 {
    text-shadow: 5px 5px 10px black;
		font-size: $font-size-imgfullscreen-h2;
  }

}

// Styling for full width image on startpage
.fullwidth-startpage-streaming {
	@include fullscreen-img('sofa.jpg', 100vh);

  h1 {
  	text-align: center;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 0.3em;
    color: white;
    font-size: $font-size-imgfullscreen-h1;
  }

  h2 {
    text-shadow: 5px 5px 10px black;
    padding-bottom: 40px;
		font-size: $font-size-imgfullscreen-h2;
  }

}

// Styling for full width image on streaming.php
.fullwidth-streaming {
	@include fullscreen-img('logga.png', 100vh);

  h1 {
  	text-align: center;
    letter-spacing: 0.3em;
    color: black;
    font-size: 5.5em;
  }

}
