@import 'variables';
@import 'mixins';

// Styling for navbar
nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  /*Add shadow to the bottom of the bar*/
  @include box-shadow(0px, 0px, 4px, 0px);
  background-color: $navbar-color;
  color: rgba(1, 1, 1, 0.8);

  // Styling for links inside nave
  a {
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid $navbar-color;
  // The links hover inside nav
   &:hover {
     color: $primary-color;
     border-bottom: 2px solid $primary-color;
   }
 }
}

// Styling for nav logo
#header-logo {
  display: inline;
  height: 40px;
  width: 45px;
  float: left;
  position: relative;
  top: -12px;
  left: 10px; }
