// Font mixin
@mixin font-family {
  font-family: 'Lato', sans-serif;
}

// Shadow mixin for navbar
@mixin box-shadow ($top, $right, $bottom, $left) {
  -webkit-box-shadow: $top $right $bottom $left #000000;
	-moz-box-shadow: $top $right $bottom $left #000000;
	box-shadow: $top $right $bottom $left #000000;
}

// Mixin for navbar background color
@mixin background-color ($red, $green, $blue, $alpha) {
  background-color: rgba($red, $green, $blue, $alpha);
}

// Mixin for fullscreen wrapper div
@mixin fullscreen-div {
  width: 100%;
}

// Mixin for non-fullscreen wrapper div
@mixin nonfullscreen-div($width) {
  width: $width;
}

//Mixin for fullscreen images
@mixin fullscreen-img($image) {
  background: url('../img/' + $image) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Mixin to animate with transition
@mixin animate-transition($css-property1,$css-property2,$duration, $type) {
  -webkit-transition: $css-property1 $duration, $css-property2 $duration $type;
  -moz-transition: $css-property1 $duration, $css-property2 $duration $type;
  -o-transition: $css-property1 $duration, $css-property2 $duration $type;
  transition: $css-property1 $duration, $css-property2 $duration $type;
}
