// Font mixin
@mixin font-family {
  font-family: 'Lato', sans-serif;
}

// Shadow mixin for navbar
@mixin box-shadow ($top, $right, $bottom, $left) {
  -webkit-box-shadow: $top $right $bottom $left #000000;
	-moz-box-shadow: $top $right $bottom $left #000000;
	box-shadow: $top $right $bottom $left #000000;
}

// Mixin for navbar background color
@mixin background-color ($red, $green, $blue, $alpha) {
  background-color: rgba($red, $green, $blue, $alpha);
}

// Mixin for fullscreen wrapper div
@mixin fullscreen-div {
  width: 100%;
}

// Mixin for non-fullscreen wrapper div
@mixin nonfullscreen-div($width) {
  width: $width;
}
