// Styling for structual things. Not to be confused with fullwidth-image divs.
//This file is for wrappers, divs and any structural elements including floats

// Import other scss
@import 'variables';
@import 'mixins';


// Styling for wrapper div
.wrapper {
  margin: 0 auto;
  min-height: 100px;
}

// Styling for fullscreen helper class for div wrapper
.fullscreen-div {
  @include fullscreen-div;
}

// Styling for $set-div-width helper class for div wrapper
.nonfullscreen-div {
  @include nonfullscreen-div($div-wrapper-width);
}

// Styling for mini-parent
 .mini-parent {
   width: 100%;
   display: inline-block;
   margin: 0 auto;
   text-align: center;

 }

 // Styling for mini-element
.mini-element-4col {
   display: inline-block;
   padding: 10px;
   width: 22.6%;
   margin: 0 auto;
 }

.mini-element-2col {
  display: inline-block;
  padding: 20px;
  width: 550px;
  margin: 0 auto;
}


// Helper classes for extra padding (more white room)
.space-above {
  padding-top: $space-above;
}

.space-below {
  padding-bottom: $space-below;
}

// Style for floating right and left
.right {
  float: right;
}

.left {
  float: left;
}


// Styling for article content block
.article-content {
  width: 60%;
  margin-left: 10%;
}

// Styling for article-content-fullscreen. Check netflix.php for example
.article-content-fullscreen {
  padding: 10px;
  background-color: lighten($primary-color, 30%);
  @include box-shadow-subtle(2px);
  @include animate-transition-1(box-shadow, 0.2s, linear);

  &:hover {
    @include box-shadow-subtle(4px);
  }
}

// Styling for aside element go go along with main-article
.article-aside {
  padding: 10px;
  width: 20%;
  margin-right: 5%;
  margin-top: 10px;
  border-left: 2px solid black;
}

// Styling för 2 column list. Used in articles about streaming services.
.list-col {
  margin-left: 25%;
  padding-bottom: 40px;
  @include list-column(2, 2px);
  list-style: none;
  font-size: 1.2em;
  line-height: 1.9em;
}
