* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: black; }

nav {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  /*Add shadow to the bottom of the bar*/
  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.5);
  color: rgba(1, 1, 1, 0.8); }
  nav a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none; }
    nav a:hover {
      color: black; }

#header-logo {
  display: inline;
  height: 45px;
  width: 45px;
  float: left;
  position: relative;
  top: -12px;
  left: 10px; }

.wrapper {
  width: 900px;
  margin: 0 auto; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%; }
