body {
  font-family: 'Lato', sans-serif; }

.wrapper {
  width: 900px;
  margin: 0 auto; }

footer {
  position: fixed;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #eee; }

h1 {
  color: green; }
