// Import other scss
@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0; }


// Styling for body
body {
  @include font-family;
  color: $font-color;
}

// Import header styling
@import 'header';

// Import fullwidth images
@import 'fullwidth-images';



span.bigger {
	font-size: 1.3em;
	font-style: italic;
}

// Styling for wrapper div
.wrapper {
  margin: 0 auto;
  padding: 10px;
  min-height: 500px;
}

// Styling for fullscreen helper class for div wrapper
.fullscreen-div {
  @include fullscreen-div;
}

// Styling for $set-div-width helper class for div wrapper
.nonfullscreen-div {
  @include nonfullscreen-div($div-wrapper-width);
}

// Import footer
@import 'footer';
