// Color variables
$primary-color: black;




// Styling for body
body {
  font-family: 'Lato', sans-serif;
  color: black;
}



// Styling for navbar
nav {
  float: right;
  display: inline-block;

 a {
   text-decoration: none;
   padding: 5px;
   margin: 5px;
   color:inherit;

   &:hover {
     border-bottom: 1px solid $primary-color;
   }
 }
}


// Styling for wrapper div
.wrapper {
  width: 900px;
  margin: 0 auto;
}

// Styling for footer
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}
