/*
* This file is for global text styling
*
*/
// Import other scss
@import 'variables';
@import 'mixins';

// Styling for body
body {
  @include font-family;
  color: $font-color;
  background-color: $body-background-color;
}

html, body {
  overflow: auto;
}

// Style for headings
h1, h2 {
  margin-bottom: 20px;
}

// Style for paragraphs
p {
  margin-bottom: 10px;
}

// Style for article
article {
  line-height: 1.5em;
}


ul {
  list-style-position: inside;
}


li {

}

// Style for links. Have to use a class since else it will interfere with nav-links
.link {
  padding: 2px;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-white {
  color: white;
}

.header-space-above-small {
  margin-top: 5px;
}

.header-space-above-normal {
  margin-top: 30px;
}


.marketing-paragraph {
  font-size: $font-bigger;
  line-height: 1.4em;
}

.marketing-title {
  font-size: $font-bigger;
}

.special-font {
  font-family: 'Indie Flower', cursive;
}
// Style for buttons (link elements)
.button {
  text-decoration: none;
  color: $button-text-color;
  padding: 4px 8px;
  border: 1px solid $button-text-color;
  border-radius: 5px;
  @include animate-transition(background-color, color, 0.5s, linear);


  &:hover {
    border: 1px solid $button-text-color;
    background-color: $button-background-color;
    color: white;
  }
}

// Style for big button
.button-big {
  font-size: $font-biggest;
  text-decoration: none;
  color: $button-text-color;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid $button-text-color;
  @include animate-transition(background-color, color, 0.5s, linear);


  &:hover {
    border: 1px solid $button-text-color;
    background-color: $button-background-color;
    color: white;
  }
}



#questionmark {
  width: 200px;
  margin-right: 20px;
}

#answer {
  width: 200px;
  margin-left: 20px;
}

// classes for making font big, bigger and biggest
.header-big {
  font-size: $header-size-big;
}

.header-bigger {
  font-size: $header-size-bigger;
}

.header-biggest {
  font-size: $header-size-biggest;
}

.header-center {
  text-align: center;
}

// Style for a class that can differenciate a block from another
.popout-background {
  background-color: lighten($navbar-color, 5%);
}

// Adding box shadow mixin to classes
.subtle-shadow, .popout-background {
	@include box-shadow-subtle(2px);
}
