/*
* This file is for global text styling
*
*/
// Import other scss
@import 'variables';
@import 'mixins';

// Styling for body
body {
  @include font-family;
  color: $font-color;
}

// Style for headings
h1 {
  margin-bottom: 10px;
}

// Style for paragraphs
p {
  margin-bottom: 10px;
}

// Style for article
article {
  line-height: 1.5em;
}

span.bigger {
	font-size: 1.3em;
	font-style: italic;
}

// Style for buttons (link elements)
.button {
  text-decoration: none;
  color: $button-text-color;
  padding: 4px 8px;
  border: 1px solid $button-text-color;

  &:hover {
    border: 1px solid $button-text-color;
    background-color: $button-background-color;
    color: white;
  }
}

// Style for floating right and left
.right {
  float: right;
}

.left {
  float: left;
}

#questionmark {
  width: 200px;
  margin-right: 20px;
}

#answer {
  width: 200px;
  margin-left: 20px;
}
