// Color
$primary-color: black;
$font-color: black;
$navbar-color: #eee;
$footer-color: $navbar-color;

// Div wrapper width
$div-wrapper-width: 960px;

// Button variables
$button-text-color: red;
$button-background-color: red;
