// Color
$primary-color: #92a7ba;
$font-color: black;
$navbar-color: #eee;
$footer-color: $navbar-color;

// Div wrapper width
$div-wrapper-width: 960px;

// Button variables
$button-text-color: #92a7ba;
$button-background-color: $button-text-color;

// Space variables
$space-above: 70px;
$space-below: 70px;
