// Color
$primary-color: #92a7ba;
$font-color: black;
$navbar-color: #eee;
$footer-color: $navbar-color;

// Div wrapper width
$div-wrapper-width: 960px;

// Button variables
$button-text-color: #92a7ba;
$button-background-color: $button-text-color;

// Space variables
$space-above: 70px;
$space-below: 70px;

// Font variables
$font-big: 1.2em;
$font-bigger: 1.4em;
$font-biggest: 1.6em;
